@use "./../../init" as *;

.c-solution-no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    height: 100%;

    color: #838383;

    &__icon {
        width: 4rem;
        height: 4rem;
    }

    &__text {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
    }
}
