@use "./../../init" as *;

.c-solution-product-badge {
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;

    font-size: 1.3rem;
    font-weight: 600;

    color: var(--c-white);

    &--discount {
        background-color: var(--c-badge-discount);
    }
    &--new {
        background-color: var(--c-badge-new);
    }
}
